/premierProjetSurGithub/nbproject/private/
/TP2_Bieres_SZTEJNBERG/nbproject/private/
/TP2_Bieres_SZTEJNBERG/build/
/ TP2_convertisseurObjet_SZTEJNBERG/nbproject/private/
/TP2_manip_SZTEJNBERG/nbproject/private/
/TP2_manip_SZTEJNBERG/build/
